:root { 
    --color-primary-water-green: #5EC5B6;
    --color-secundary-blue: #0F66F8;
    --color-secundary-yellow: #FAD319;
    --color-secundary-orange: #F2863A;
    --color-secundary-pink: #F09CB8;
    --background-color-light: #F9F9F9;
    --background-color-dark: #F5F5F5;
    --text-color: #333333;
}

@media (max-width: 400px) {

    body {
        background-color: var(--background-color);
        text-align: center;
    }

    /* Estilos da nav-bar */
    nav {
        display: flex;
        justify-content: left;
        margin: 10px 0px;
        width: 100%;
    }

    nav a {
        display: flex;
        justify-content: left;
        margin: 0;
        width: 20%;
    }

    nav > a > img {
        width: 50%;
        margin: 0;
    }

    /* Estilos do conteúdo informativo */
    .container-menu {
        width: 90%;
        margin-bottom: 10%;
    }

    .container-menu h1 {
        color: var(--color-primary-water-green);
        font-size: 1.5rem;
    }

    .container-menu p {
        color: var(--text-color);
    }

    /* Estilos dos elementos de pesquisa de atendentes */
    .container-search {
        margin-bottom: 10%;
    }

    .container-search-nota {
        display: flex;
        justify-content: left;
        margin-bottom: 20px;
        gap: 5%;
        padding: 30px;
        background-color: #dfdfdf;
        border-radius: 20px;
        border: #d7d7d7 solid 1px;
        box-shadow: #0000001d 0px 0px 2px;
        width: 80%;
        height: 30%;
    }

    .container-search-nota input {
        border-style: none;
        outline: none;

        padding: 0px 0.5rem;
        background-color: #00000000;
    }

    .container-search-nota input::placeholder {
        color: #404040;
    }

    .container-search-nota img {
        width: 8%;
        opacity:80%;
        margin: 0;
        margin-left: 2%;
    }

    /* Estilos de botões de "Emergência" de "Disponíveis" */
    .container-search-person-buttons {
        display: flex;
        justify-content: center;
        gap: 3%;
    }

    .btn-search {
        display: flex;
        justify-content: center;
        align-items: center;
        border-style: none;
        padding: 5px;
        gap: 1rem;
        width: 40%;
        border-radius: 20px;
        color: #ffffff;
        font-weight: bold;
    }

    .btn-search-color1 {
        background-color: var(--color-secundary-orange);
    }

    .btn-search-color1:hover {
        background-color: #db8700;
    }

    .btn-search-color2 {
        background-color: var(--color-secundary-blue);
    }

    .btn-search-color2:hover {
        background-color: #0113d8;
    }

    .btn-search p {
        margin: 0;
    }

    .btn-search img {
        width: 18px;
        margin: 0;
    }

    /* Estilos dos contatos para atendimento */
    .container-person-cards {
        margin-bottom: 2rem;
    }
    
    .container-person-cards h1 {
        color: var(--color-primary-water-green);
        font-size: 1.5rem;
        margin: 20px 0px;
    }

    .container-person-cards .card-person {
        display: flex;
        flex-direction: row;
        justify-content: left;
        width: 22rem;
        height: 8rem;
        background-color: #d4d4d4;
        border-radius: 30px;
        box-shadow: #00000023 2px 2px 5px;
        margin-bottom: 30px;
    }

    .card-person .card-img {
        margin: 0;
        width: 8rem;
        height: 8rem;
    }

    .card-person .card-img img{
        margin: 0;
        width: 100%;
        height: 100%;
        border-radius: 30px 0px 0px 30px;
        box-shadow: #00000038 2px 2px 5px;
    }

    .card-person .card-info {
        margin: 0;
        margin-left: 1rem;
        display: flex;
        justify-content: left;
        flex-direction: column;
    }

    .card-person .card-info h1 {
        margin: 0;
        margin-top: 10px;
        color: var(--text-color);
    }

    .card-person .card-info p {
        margin: 0;
        text-align: left;
        width: 50%;
        font-size: 13px;
        color: #696969;
    }

    .card-person .card-info .btn-person {
        align-self: flex-start;
        background-color: var(--color-secundary-blue);
        color: #ffffff;
        padding: 2px;
        margin-top: 2rem;
        width: 6rem;
        font-size: 0.9rem;
        border-style: none;
        border-radius: 10px;
        box-shadow: #00000024 2px 2px 5px;
    }

    .card-person .card-info .btn-person:hover {
        background-color: #0113d8;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-bottom: 2rem;
    }

    footer img {
        margin: 0;
        width: 1.8rem;
    }

    footer p {
        text-shadow: #00000039 2px 2px 5px;
        font-size: 1.1rem;
        width: 15rem;
        margin: 0;
        color: #3CA999;
    }
}

.card-img-overlay {
    background-color: #bdccf1b7;
}

.form-control {
    background-color: #cad6f4b5;
    border: 1px solid #4C88F8;
}

.btn {
    border: 0px ;
    padding: 4px 2px;
}

.form-control:focus {
    color: #212529;
    background-color: #cad6f4f8;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: var(--bs-btn-active-color);
    background-color: var(--bs-btn-active-bg);
    border-color: var(--bs-btn-active-border-color);
}

.calendario-dia{
    background-color: #0f64f886;
}