* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background: #2f2f2f;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px;
}
.container {
    width: 100%;
    max-width: 1200px;

    display: flex;
    justify-content: center;
    gap: 100px;

    flex-wrap: wrap;
}
.card {
    background: #f5f5f5;

    width: 420px;

    border-radius: 10px;

    padding: 50px;

    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}
.card h1 {
    font-family: 'Pacifico', cursive;

    text-align: center;

    font-size: 55px;

    margin-bottom: 40px;

    color: #000;
}
.login h2 {
    font-family: 'Pacifico', cursive;

    text-align: center;

    font-size: 50px;

    margin-bottom: 30px;
}
.logo {
    width: 180px;

    display: block;

    margin: 0 auto 20px;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 8px;

    font-size: 18px;

    color: #444;
}
input {
    width: 100%;

    padding: 14px;

    border-radius: 12px;

    border: 2px solid #ddd;

    margin-bottom: 30px;

    font-size: 16px;

    background: white;

    box-shadow: 0 3px 8px rgba(0,0,0,0.1);

    transition: 0.3s;
}
input:focus {
    border-color: #5ce1c3;

    outline: none;

    transform: scale(1.02);
}
.obrigatorio {
    color: #888;

    font-size: 13px;

    margin-bottom: 20px;
}
.checkbox-group input {
    width: 18px;
    height: 18px;

    margin: 0;
}
.checkbox-group span {
    font-size: 15px;

    text-decoration: underline;

    color: #222;
}
button {
    width: 140px;

    margin: 30px auto;

    padding: 18px;

    border: none;

    border-radius: 20px;

    background: #5ce1c3;

    color: white;

    font-size: 22px;

    cursor: pointer;

    transition: 0.3s;

    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}
button:hover {
    transform: translateY(-5px);

    background: #48c9ac;
}

.link {
    text-align: center;

    margin-top: 10px;

    font-size: 16px;
}
.link a {
    color: #000;

    font-weight: 600;
}

.senha {
    text-align: center;

    margin-top: -10px;

    margin-bottom: 30px;

    color: #000;

    font-weight: 600;
}
@media(max-width: 1000px) {

    .container {
        gap: 40px;
    }

    .card {
        width: 100%;
        max-width: 450px;
    }
}